name: Notify

on:
  workflow_dispatch:
  schedule:
    - cron: "0 7 * * *"

jobs:
  notify:
    name: Send notifications for today's birthdays
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.3.4'

      - name: Ruby gem cache
        uses: actions/cache@v4
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gems-

      - name: Install Gems
        run: |
          bundle config path vendor/bundle
          bundle install --jobs 4 --retry 3

      - name: Send notifications for today's birthdays
        run: bundle exec ruby whatsapp-notify.rb
        env:
          WHAPI_CLOUD_TOKEN: ${{ secrets.WHAPI_CLOUD_TOKEN }}
          NEWSLETTER_ID: ${{ secrets.WHAPI_CLOUD_NEWSLETTER_ID }}
